
/// /// SECTION HOME-PAGE /// ///
.home-page {
  height: 100vh;
  width: 100%;
}

.home-banner {
  height: 60vh;
}
.home-logo {
  position: relative;
  padding: 10px 5vw 10px 5vw;
  text-align: center;
  padding-top: 20vh;
  img {
    width: 25vw;
  }
  h2 {
    font-size: 3.2vh;
    color: rgba(0,0,0,0.8);
    font-weight: lighter;

  }
  p {
    color: rgba(0,0,0,0.4);
    font-weight: lighter;
    font-size: 1.6vh;
  }
}
.home-category ul {
  position: relative;
  margin-top: 5vh;
  height: 8vh;
  list-style-type: none;
  padding: 10px 8vw 10px 8vw;
  h3 {
    font-size: 2vh;
    font-weight: 200;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  img {
    margin-left: 15px;
    width: 50px;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


.home-map {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 34vh;
}

.button-banner{
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0px 80px 00px 80px;
  background: rgba(255, 161, 86, 0.9);
  border-radius: 50px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  h4 {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    opacity: 0.9;
  }
}

.button-banner:hover{
 background: rgba(253, 141, 52, 0.9);
 a {
   text-decoration: none;
 }
}

.button-banner:active{
  transform: scale(1.025);
}

.home-city {
  height:5vh;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c6c4c4;
  p{
    margin-bottom: 0px;
  }
}

/// /// EXPLANATION /// ///

.howitwork {
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-size: cover;
  background-position: bottom;
  margin-top: 8vh;
  color: rgba(255, 255, 255, 0.9);
  height: 80vh;
  width: 100%;

  text-align: center;
  h2 {
    font-weight: bold;
  }
}
.home-stats ul {
  margin-top: 120px;
  display: inline-flex;
  font-size: 32px;
  font-weight: bold;
  list-style-type: none;
    li {
      padding-right: 30px;
      padding-bottom: 30px;
    }
}

.home-text-section {
  height: 60vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}


.box-placeholder {
  height: 200px;
  width: 200px;
  background-color: rgba(253, 141, 52, 0.3);
  border-radius: 50%;
}

.home-how {
  padding: 0px 8vw 0px 8vw;
  width: 100%;
  display: flex;
  justify-content: space-around;
}












.video{
  position: absolute;
    left: 0;
    width: 100%;
    background-size: cover;
    z-index: -100;
}




@media screen and (min-width: 700px) {
  .home-category ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (max-width: 700px) {
  .home-logo {
    padding: 5px 5vw 5px 5vw;
    padding-top: 10vh;
    p {
      color: rgba(0,0,0,0.4);
      font-weight: lighter;
      font-size: 1.8vh;
    }
  }
   .home-category {
    ul {
      margin-top: 0px;
      padding: 0px 8vw 0px 8vw;
    }
    ul li h3 {
    font-size: 12px;
    font-weight: 200;
    }
   ul li img {
    margin-left: 15px;
    width: 20px;
    }
    li {
      padding-right:50px;
      padding-left: 50px;
    }
  }
  .button-banner{
    height: 30px;
    padding: 0px 40px 00px 40px;

  }
}





