/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
/// /// home-page /// ///
// #home-page {
//   position: absolute;
// }


 /// /// LANDING HOMEPAGE /// ///

.tag-line {
  // background: #F5BD4E;
  height: 70vh;
  width: 100%;
  position: relative;
  text-align: center;
  h2, h3, p {
    position: relative;
    top: 20vh;
    font-weight: lighter;
    color: black;
  }
  p {
    color: #c6c4c4;
  }
}

.home-logo {
  position: relative;
  top: 18vh;
  img {
    width: 60vh;
  }
}
.category-banner{
  position: relative;
  top: 9vh;
  display:flex;
  color: black;
  width: 100%;
  justify-content: space-around;
  p {
    margin-top:15px;
    font-size: 22px;
    color: black;
  }
  img {
    margin-left: 15px;
    margin-bottom: 5px;
    width: 5vh;
  }
}

.home-map {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  background-size: cover;
  height: 28vh;
  top: -30px;
}

.button-banner{
  display: flex;
  position: relative;
  justify-content: space-around;
  align-self: center;
  padding: 20px 100px 18px 100px;
  color: #FD8D34;
  font-family: arial;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  background: rgba(235, 135, 56, 0.6);
  border-radius: 50px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  // width: 150px;
  a {
    text-decoration:none;
    color: white;
    opacity: 0.9;
  }

}

.button-banner:hover{
 background: #fd8d34;
 opacity: 0.9;
}

.button-banner:active{
  transform: scale(1.025);
}

.home-city {
  text-align: center;
  margin-top: -2.5vh;
  margin-bottom: 6vh;
  padding-bottom: 1vh;
  padding-top: 1vh;
  font-size: 15px;
  color: #c6c4c4;
}
/// /// EXPLANATION /// ///

.howitwork {
  display:flex;
  position: relative;
  flex-direction: column;
  background-size: cover;
  background-position: 0em -28em;
  color: white;
  height: 56vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  h2 {
    font-weight: bold;
  }
}

.button-howitwork{
  align-self: center;
  padding: 20px 85px 18px 85px;
  font-family: arial;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  background: rgba(235, 135, 56, 0.6);
  border-radius: 50px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  // margin-top: 75px;
  text-decoration: none;
  a {
    text-decoration:none;
    color: white;
    opacity: 0.9;
  }
}

.button-howitwork:hover{
 background: #fd8d34;
 opacity: 0.9;
}

.button-howitwork:active{
  transform: scale(1.025);
}

.button-transition {
  display:flex;
  justify-content: center;
  background: white;
  height: 25vh;
  width: 100%;
}

/// /// ADD PLACES /// ///

.add-places {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 60vh;
}

.box-placeholder {
  height: 40vh;
  width: 20em;
  background-color: black
}

.add-places-2 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 50vh;
}

.add-places-p {
  font-weight: 700;
  font-size: 50px;
  color: #c6c4c4;
}


/// /// START UPLOADING /// ///

.start {
  display:flex;
  // position: relative;
  // flex-direction: column;
  color: black;
  height: 74vh;
  width: 100%;
  // align-items: center;
  justify-content: center;
  h2 {
    position: relative;
    font-weight: 700;
  font-size: 50px;
    top: 30vh;
    color: white;
    margin-bottom: 25px
  }
}

.video{
  position: absolute;
    left: 0;
    width: 100%;
    background-size: cover;
    z-index: -100;
}

// OTHER ??? //
// .btn-home, .btn:hover, .btn-large:hover {
//   background-color: rgba(0, 255, 205, 0.5);
//   border-radius: 5px;
//   a {
//     font-size: 18px;
//     text-decoration: none;
//     color: white;
//   }
// }

// .btn-home:hover, .btn:hover, .btn-large:hover {
//    background-color: rgba(0, 255, 205, 0.8);
// }

.logo > h1 {
  font-family: 'Damion', cursive;
  font-size: 8em;
}

.class {
  height: 300px;
}







