.user-nav {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 600px;
  height: 100px;
  font-size: 18px;
  font-weight: 400;
  align: left;
}

.user-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-nav li {
  display: inline-block;
  padding: 0 20px;
}

.user-nav li>a{
  position: relative;
  display: block;
  cursor: pointer;
}

// .tab {
//   &:before, &:after {
//     content: '';
//     position: absolute;
//     width: 0%;
//     height: 4px;
//     bottom: -2px;
//     margin-top: -0.5px;
//     background: #grey;
//   }

//   &:before {
//     left: -2.5px;
//   }

//   &:after {
//     right: 2.5px;
//     background: #grey;
//     transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
//   }

//   &:hover {
//     &:before {
//       background: #grey;
//       width: 100%;
//       transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
//     }

//     &:after {
//       background: transparent;
//       width: 100%;
//       transition: 0s;
//     }
//   }
// }

