

.main {
  margin-top: 60px;
}

.details {
  margin-top: 130px;
}

.workplace-photo img {
  width: 100%;
}

.led-box {
  height: 30px;
  width: 25%;
  margin: 10px 0;
  margin-bottom: 15px;
  float: left;
}

.led-box p {
  font-size: 14px;
  text-align: center;
  margin: 1em;
}

.led-green {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-yellow {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #FFC532;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}

.led-red {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #DB3A34;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}
