a {
  text-decoration: none;
}

#action-bar {
  float: left;
}

#action-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
}

.action-workplace {
  position: relative;
  background-color: rgba( 230, 230, 230, 0.1);
  padding-left: 0px;
  padding-right: 0px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  height: 259px;
}

.action-header {
  width: 100%;
  background-color: #f9f9f9;
  border-bottom: 1px solid;
  border-color: rgba( 230, 230, 230, 0.5);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  p {
    margin: 0;
    font-weight: 700;
  }
}
.action-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 155px;
  span {
    padding: 1em;
    width: 100%;
    font-size: .9em;
    border-bottom: 1px solid #eaeaea;
    background: #fff;
    cursor: pointer;
    &:hover {
      background-color: #f9f9f9;
    }
  }
}
.action-footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  .btn {
    background-color: rgba(253, 142, 52, 0.8);
    border-style: none;
    height: 50px;
    width: 100%;
  }
    a {
    font-weight: bold;
    padding-top: 15px;
    color: white;
  }
  a:hover {
    font-weight: bold;
    transition: 0.3s ease-in-out;
  }
}

.workplace-hours {
  img {
    width: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.checked-in {
  font-size: 14px;
  bottom: 0px;
  margin-top: 10px;
  p {
    color: rgba( 180, 180, 180, 0.8);
  }
}


.workplace-photo img {
  width: 40vw;
}

.workplace-nav {
  padding-left: 0px;
  padding-right: 0px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  a {
    color: rgba( 0, 0, 0, 0.5);
  }
  a:hover {
    color: rgba(253, 142, 52, 0.8);
    transition: 0.3s, ease-in;
  }
  :first-child {
    display: inline-flex;
    align-items: center;
    h4 {
      margin-left: 10px;
      font-size: 16px;
    }
  }
  .btn{
    padding: 0px;
  }
}

.workplace-info {
  padding-left: 0px;
  h2 {
    font-weight: 800;
    margin-bottom: 20px;
  }
  h5 {
    font-weight: 16px;
    color: rgba( 0,0,0, 0.8);
    font-weight: 300;
  }
  h4 {
    font-weight: 16px;
    color: rgba( 0,0,0, 1);
    font-weight: 800;
  }
}

.wp-section {
  margin-bottom: 20px;
  line-height: 1.8;
}


.workplace-nav:after{
  content: none !important;
}

.workplace-nav:before{
  content: none !important;
}

a.user-checkedin {
  text-decoration: none;
  color: black;
}

.user-checkedin {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;

}

.workplaceshow {
  position: relative;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: rgba(240, 240, 240, 0.5);
}

.features {
  margin-top: 20px;
  margin-bottom: 40px;
  ul{
    display: inline-flex;
    flex-wrap: wrap;
    :first-child{
      border-left: 0px solid lightgrey;
    }
    li{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items:center;
      width: 100px;
      height: 60px;
      border-left: 1px solid lightgrey;
      padding: 0px 8px 0px 8px;
      :last-child {
        text-align: center;
        font-size: 16px;
        font-weight: lighter;
      }
      img {
        height: 40px;
        width: 40px;
      }
    }
  }
}

.ratings {
  margin-bottom: 40px;
  table {
    width: 180px;
    line-height: 1.8;
  }
   tr>td {
    width: 60px;
  }
}



.reviews {
  margin-bottom: 60px;
}



