

<div container>
<div><%= link_to @visit.workplace.name, workplace_path(@visit.workplace) %>
<%= link_to "Checkout",[@workplace, @visit], class: "btn btn-danger" , :method => :put, remote: true %></div>
</div>

