 <% if @visit.nil? || @visit.checkin == false %>
<%= link_to "Checkin",[@workplace, :visits], class: "btn btn-success", :method => :post, remote: true %>
  <% else %>
<button data-toggle="modal" data-target="#reviews">Checkout</button>
<% end %>

<div class="modal fade" id="reviews">
<div class="wrapper wrapper-signin">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm6- col-sm-offset-3">
        <%= render 'reviews/form' %>
    </div>
  </div>
</div>
</div>
