<p> People who have already checked-in</p>
<% unless @visits.nil?%>
  <% @visits.each do |visit| %>

    <% avatar_url = visit.user.facebook_picture_url || "http://placehold.it/30x30" %>
    <%= link_to user_path(visit.user.id), class:"user-checkedin" do %>
    <%= image_tag avatar_url, class: "avatar" %>
    <p class='user-status'><%= visit.user.first_name %>: <%= visit.user.status unless visit.user.status.nil? %></p>
  <% end %>
<% end %>
<% end %>
