<div class="wrapper wrapper-user">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-4 user-activity profile-navbar">
          <div class="user-nav">
            <ul>
              <% if @user = current_user %>
              <li><a class="tab" data-target="#my-history">History</a></li>
              <% end %>
              <li><a class="tab" data-target="#my-favourites">My favourites</a></li>
              <% if @user = current_user %>
              <li><a class="tab" data-target="#settings">Edit my profile</a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sx-12 col-sm-4 user-info" id="my-profile">
        <%= render 'user-info' %>
      </div>

      <div class="col-sx-12 col-sm-8  user-activity text-center">
        <div class="tab-content" id="my-history">
          <%= render 'user-history-card' %>
        </div>
        <% if @user = current_user %>
          <div class="tab-content hidden" id="settings">
            <%= render 'user-edit' %>
          </div>
          <% end %>
        <div class="tab-content hidden" id="my-favourites">
          <%= render 'user-favourite-card' %>
        </div>
      </div>
    </div>

</div>


    <script src="javascript/tabs.js"></script>

    <% no_footer %>
