<div class=".container">
  <div class="row">
    <div class="user-nav">
      <ul>
        <li><a class="tab" data-target="#my-profile">Profile</li>
        <li><a class="tab" data-target="#my-history">History</li>
        <li><a class="tab" data-target="#my-places">My places</li>
        <li><a class="tab" data-target="#my-favorites">Favorites</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sx-12 col-sm-12 col-md-4 col-lg-4 user-info" id="my-profile">
      <%= render 'user-info' %>
    </div>
    <div class="col-sx-12 col-sm-12 col-md-8 col-lg-8 user-activity text-center">
      <div class="tab-content" id="my-history">
        <p>This is my history</p>
      </div>
      <div class="tab-content hidden" id="my-places">
        <p>Those are my places</p>
      </div>
      <div class="tab-content hidden" id="my-favorites">
        <p>Here is my favorites places.</p>
      </div>
    </div>
  </div>
</div>
<script src="javascript/tabs.js"></script>
