<div class="modal fade modal-style" id="reviews">
  <div class="wrapper">
        <div class="col-xs-12 col-lg-12 ">
          <%= render 'reviews/form' %>
          <button type="button" class="btn btn-secondary btn-close-review" data-dismiss="modal">Close</button>
      </div>
  </div>
</div>
