<div class="modal fade" id="reviews">
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm6- col-sm-offset-3">
        <%= render 'reviews/form' %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>

</div>
