<div class="modal fade modal-style" id="modal-status">
<div class="wrapper">
      <div class="col-xs-12 col-lg-6 col-lg-offset-3 ">
      <h1>je ne suis plus triste</h1>
        <%= render 'users/status' %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</div>
</div>
