
<div class="index-content">
  <div class="side-container">


    <div class="container filters-container">
      <% @features.each do |feature| %>
      <div class="col-xs-4">
        <a href="" class="button-black">
          <div class="button-text"><p class="text-12"><%= feature.name %></p>
          </div>
          <div class="button-img"><%= image_tag(feature.icon) %></div>
        </a>
      </div>
      <% end %>
    </div>



    <div class="card-container">
      <% @workplaces.each do |workplace| %>
      <%= render 'shared/workplace_card', workplace: workplace %>
      <% end %>
    </div>
  </div>
  <div id="map" style="width: 100%; height: 100vh;"></div>
</div>

<% content_for(:after_js) do %>
<script>
  $( document ).ready(function() {
    $(".card-container .card").hide();
  });
</script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTiqJOTZ0WFaiV-EP7hsFFi2cBhYnfP8A&callback=initMap"></script>
<script type="text/javascript">
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 45.5259795, lng: -73.5951137},
      zoom: 6
    });
    var infoWindow = new google.maps.InfoWindow({map: map});
    var locations = <%= raw @hash.to_json %>
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        infoWindow.setPosition(pos);
        infoWindow.setContent('Location found.');
        map.setCenter(pos);
        map.setZoom(14);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      handleLocationError(false, infoWindow, map.getCenter());
    }


    var marker, i;
    var markers = [];
    for (i = 0; i < locations.length; i++) {
      var marker = new google.maps.Marker({
        position: locations[i],
        icon: locations[i]["picture"],
        map: map
      });
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          $(".card-container .card").hide();
          var card_selector = "#card_" + locations[i]["marker_title"];
          console.log(card_selector);
          $(card_selector).show();
        }
      })(marker, i));
      markers.push(marker);
    }
    var markerCluster = new MarkerClusterer(map, markers, {      });
  }


  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
      'Error: The Geolocation service failed.' :
      'Error: Your browser doesn\'t support geolocation.');
  }
</script>
<% end %>

