<h1><%= @workplace.name %></h1>
<h1><%=  %></h1>
    <div class="btn">
    <% if @visit.checkin? %>
      <%= link_to "Checkout",[@workplace, @visit], class: "waves-effect waves-light btn" , :method => :put%>
    <% else %>
      <%= link_to "Checkin",[@workplace, :visits], class: "waves-effect waves-light btn" , :method => :post%>
    <% end %>

    </div>
