<h3><%= @workplace.name %></h3>

<h5><%= @workplace.address %></h5>

<div class="btn btn-primary">
<% if @visit.nil? || @visit.checkin == false %>
  <%= link_to "Checkin",[@workplace, :visits], class: "waves-effect waves-light btn" , :method => :post%>
<% else %>
  <%= link_to "Checkout",[@workplace, @visit], class: "waves-effect waves-light btn" , :method => :put%>
<% end %>

</div>
