.page-footer {
  position: relative;
  bottom:0vh;
  width: 100%;
  height:100%;
  color: black;
  background-color: white;
}

.footer-copyright {
 text-align: center;
}

footer .fa {
  color: black;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.fa-facebook:hover{
  color: #425F9C;
}

.fa-twitter:hover {
  color:#1DA1F2;
}

footer li {
  display: inline;
}

.find-us {
  position: relative;
  right: -25em;
}

.disclaimer {
  position: relative;
  left: -25em;
  width: 55vh;
}

.social-logo {
  padding: 0;
  display: flex
}




