.user-profile-card {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  border: 1px solid #eaeaea;
  margin: 15px 0;
  &:hover {
    background: #fbfbfb;
  }
}

.user-profile-card-body {
  flex: 1 1 auto;
}
.user-profile-card-body h4 {
  font-weight: 600;
  font-size: 23px;
  margin-top: 0;
}
.user-profile-card-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

.user-profile-card-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
}

.user-profile-card-rating {
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.workplace-user-profile-rating {
  margin: 2px 0 0;
}

.card-favorites {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.card-favorites a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}

.card-favorites a:hover {
  color: #D3473C;
}

.user-profile-card-rating:hover {
  color: #5898f1;

}
.user-profile-card-rating .rating-card {
  border-bottom-color: #5898f1;
}

.user-profile-card-rating:hover .rating-card {
  color: rgb(253, 196, 73);
}

