.wrapper-user {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 50px;
}

.user-card-avatar {
  background: rgba(239, 239, 239, 0.2);
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 5px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px rgb(240, 240, 240);
}



.avatar-profile {
  // TO DO
}

.user-card-picture {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.user-card-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 3px;
}

.user-card-email {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 3px;
}

.user-card-description {
  padding: 20px;
  margin-bottom: 10px;
}

.social-logo {
  display: flex;
  justify-content: center;
  font-size: 30px;
  list-style: none;
  text-align: center;
  a {
    color: black;
    &:hover {
      color:rgb(253, 153, 73);
      cursor: pointer;
      text-decoration: none;
    }
  }
  .fa {
    padding: 10px 15px;
  }
  .fa:hover {
    color:rgb(253, 153, 73);
    cursor: pointer;
  }
}
