.wrapper-user {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 50px;
}

.user-card-avatar {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-radius: 5px;
  position: relative;
  text-align: center;
  hr {
    border: 2px solid;
    color: #333;
    width: 10%;
    margin: 1.3rem 0 1.7rem 0;
  }
}



.avatar-profile {
  max-width: 220px;
  border-radius: .3em;
}

.user-card-picture {
  position: relative;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.user-card-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 3px;
}

.user-card-email {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 3px;
}

.user-card-description {
  padding: 0 0 1em 0;
  margin-bottom: 10px;
}

.social-logo {
  display: flex;
  justify-content: center;
  font-size: 30px;
  list-style: none;
  text-align: center;
  padding: 0;
  a {
    color: black;
    &:hover {
      color:rgb(253, 153, 73);
      cursor: pointer;
      text-decoration: none;
    }
  }
  .fa {
    padding: 10px 15px;
  }
  .fa:hover {
    color:rgb(253, 153, 73);
    cursor: pointer;
  }
}
