/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

 @import url('https://fonts.googleapis.com/css?family=Quicksand');

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.wrapper {
  margin-top: 80px;
}


// font-style
body {
  font-family: 'Quicksand', sans-serif;
}

.ratings-stars  {
  font-size: 16px;
  color: #FD8D34;
}

.modal-style {
  background-color: rgba(255, 255, 255, 0.9);
  float: none;
  margin: 0 auto;
  width: 520px;
  height: 640px;
  padding: 0px 20px 0px 20px;
  margin-top: 150px;
  border-radius: 5px;
  .wrapper {
    margin-top: 20px;
  }
}

#reviews {
  line-height: 1.2;
  label {
    font-size : 16px;
    font-weight: 400;
  }
  h4 {
    margin-bottom: 30px;
  }

  button {
    margin-top : 20px;
  }
}

.btn-wasis {
  width: 100%;
  bottom: 0;
}

.btn-close-status {
  width: 100%;
  bottom: 0;
}

abbr {
    display: none;
}
