/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  position: absolute;
  top: 75px;
  right: 0;
  left: 0;
  text-align: center;
  color: white;
}
.alert-info .alert-dismissible{
  background: $green;
}
// .alert-warning {
//   background: $red;
// }

.alert-warning,  {
   background: #F45060 ;
}
