.btn-primary>a {
  color: white;
}



.btn-more-info {
  width: 550px;
  position: absolute;
  bottom: 0px;
}

.text-12 {
  font-size: 12px;
}

.active {
  font-weight: bold;
  color: rgb(5,5,5);
  background: rgba(170,170,170, 0.9);
  text-decoration: none;
}
