.index-content {
    display: flex;
    width: 100%;
}

.filters-container {
    margin-top: 85px;
    border-radius: 5px;
    p {
    width: 65px;
    text-align: center;
    line-height: 1em;
  }
}

.side-container {
  height: 100vh;
  width: 200px;
  background-color: transparent;
  position: absolute;
  z-index: 99;
}

#workplace-form input[type="checkbox"] {
  display: none;
}

.filters-submit {
  font-weight: 700;
  width: 480px;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #FF;
  background-color: #FFA156;
  &:hover{
    color: #FFF;
    background-color: rgba(255, 161, 86, 0.7);
    border-color: rgba(253, 189, 52, 0.7);
    transition: 0.2s ease;
  }
}

.button-black {
  width: 80px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px auto;
  color: rgb(20,20,20);
  img {
    width: 40px;
  }
}

.button-text {

}
.button-img {

}
.button-black:hover {
  background:#D6D6D6;
  text-decoration: none;
  color: #333;
}

.active {
  color: rgb(5,5,5);
  border: solid 0.5px;
  text-decoration: none;
}


a:focus {
   text-decoration: none;
   color: rgb(20,20,20);
}

.text-12 {
  font-size: 12px;
}

