// Your footer style
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}

main {
  flex: 1 0 auto;
}

.page-footer {
    position: fixed;
    background-color: #EDA41E;
    color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.page-footer .footer-copyright {
  background-color: rgba(51, 51, 51, 0.2);
}

.fa {
  color: white;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

footer li {
  display: inline;
}
